<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
    <div class = "header">
        <a href="{{ url_for('admin') }}"><button>Home</button></a>
        <a href="{{ url_for('quiz') }}"><button>Quiz</button></a>
        <a href="{{ url_for('summary') }}"><button>Summary</button></a>
        <a href="{{ url_for('login') }}"><button>LogOut</button></a>


        <div class = "left-head">
            <form method="get" action="{{ url_for('summary') }}">
                <input type="search" name="query" placeholder="Search..." required>
                <button type="submit">Search</button>
            </form>
            <h4>Welcome Admin</h4>

        </div>

    </div>
    <div>
        <h3>Manage Subjects</h3>
        <form method="post" action="/subjects">
            <input type="text" name="subject_name" placeholder="New Subject" required>
            <input type="text" name="subject_discription" placeholder="New Subject" required>
            <button type="submit">Add Subject</button>
        </form>
        <ul>
            {% for subject in subjects %}
            <li>{{ subject.subject_name }} - {{subject.subject_discription}} 
                <a href="/delete-subject/{{ subject.subject_id }}">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div>
        <h3>Manage Chapters</h3>
<form method="post" action="/chapters">
    <input type="text" name="chapter_name" placeholder="New Chapter" required>
    <input type="text" name="chapter_discription" placeholder="New Chapter Description" required>
    <label for="subject_id">Select Subject:</label>
    <select name="subject_id" required>
        <option value="" disabled selected>Select a subject</option>
        {% for subject in subjects %}
        <option value="{{ subject.subject_id }}">{{ subject.subject_name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add Chapter</button>
</form>
<h3>Chapters by Subject</h3>
{% for subject in subjects %}
        <h4>{{ subject.subject_name }}</h4>
        <ul>
            {% for chapter in subject.chapters %}
            <li>{{ chapter.chapter_name }} - {{ chapter.chapter_discription }}
                <a href="/delete-chapter/{{ chapter.chapter_id }}">Delete</a>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
    </div>
    
</body>
</html>
