<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Out</title>
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
    <div class = "header">
        <a href="admin.html"><button>Home</button></a>
        <a href="Quiz.html"><button>Quiz</button></a>
        <a href="summary.html"><button>Summary</button></a>
        <a href="logout.html"><button>LogOut</button></a>

        <div class = "left-head">
            <input type="search" placeholder="Search..." />
            <h4>Welcom Admin</h4>

        </div>

    </div>
    <p>this is logout section</p>
</body>
</html>
