<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="/static/New-User.css">
</head>
<body>
    <form method="post">
    <div class="frame">
        
        <h1>Welcome to Quiz Master</h1>
        <h2>Registration</h2>
        <br>
        
        <lable for ="email_log" class="lable_1"><b><i>E-mail:</t></i></b></lable>
        <input type="email" class ="text_input" id="email_log" name="email_id" placeholder="example@gmail.com">
        <br>
        <br>
        <br>
        <lable for ="password_log" class="lable_2"><strong><i>Password:</i></strong></lable>
        <input type="password" class="text_input" id="password_log" name="password" placeholder="xxxxx">
        <br>
        <br>
        <br>
        <lable for ="full_name" class="lable_3"><strong><i>Full Name:</i></strong></lable>
        <input type="text" class="text_input" id="full_name" name="full-name" placeholder="full name">
        <br>
        <br>
        <br>
        <lable for ="qulification" class="lable_4"><strong><i>Qulification:</i></strong></lable>
        <input type="text" class="text_input" id="qulification" name="qulify" placeholder="your qulification">
        <br>
        <br>
        <br>
        <lable for ="dob" class="lable_5"><strong><i>Date Of Birth:</i></strong></lable>
        <input type="date" class="text_input" id="dob" name="DOB" >
        <br>
        <br>
        <br>
        
        <div class="container">
        <input type="submit" class="botton_type" value="Submit">
        <span class="new_user"><a href="/">Existing User?</a></span>
        </div>
    </div>
    </form>
    </body>
</body>
</html>
