<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
    <div class = "header">
        <a href="{{ url_for('admin') }}"><button>Home</button></a>
        <a href="{{ url_for('quiz') }}"><button>Quiz</button></a>
        <a href="{{ url_for('summary') }}"><button>Summary</button></a>
        <a href="{{ url_for('login') }}"><button>LogOut</button></a>

        <div class = "left-head">
            <form method="get" action="{{ url_for('summary') }}">
                <input type="search" name="query" placeholder="Search..." required>
                <button type="submit">Search</button>
            </form>
            <h4>Welcom Admin</h4>

        </div>

    </div>


    
<h2>Create Quiz</h2>
<form action="{{ url_for('create_quiz') }}" method="POST">
    <label>Chapter:</label>
    <select name="chapter_id" required>
        {% for chapter in chapters %}
            <option value="{{ chapter.chapter_id }}">{{ chapter.chapter_name }}</option>
        {% endfor %}
    </select><br>
    <label>Quiz Name:</label>
    <input type="text" name="quiz_name" required><br>
    <label>Date:</label>
    <input type="date" name="date" required><br>
    <label>Time Duration (minutes):</label>
    <input type="number" name="time_duration" required><br>
    <button type="submit">Create Quiz</button>
</form>


    
    
    <h3>Quizzes:</h3>
    <ul>
        {% for quiz in quizzes %}
            <li>Quiz Name: {{ quiz.quiz_name }} - Date: {{ quiz.date_of_quiz }} - Duration: {{ quiz.time_duration }} mins</li>
            <a href="/delete_quiz/{{ quiz.quiz_id }}">Delete</a>
        {% endfor %}
    </ul>

    
    
    <h2>Add Question</h2>
<form action="/questions" method="POST">
    <label>Select Quiz:</label>
    <select name="quiz_id" required>
        {% for quiz in quizzes %}
            <option value="{{ quiz.quiz_id }}">{{ quiz.chapter.chapter_name }} - {{ quiz.date_of_quiz }}</option>
        {% endfor %}
    </select><br>
    <label>Question Statement:</label>
    <input type="text" name="question_statement" required><br>
    <label>Option 1:</label>
    <input type="text" name="option_1" required><br>
    <label>Option 2:</label>
    <input type="text" name="option_2" required><br>
    <label>Option 3:</label>
    <input type="text" name="option_3" required><br>
    <label>Option 4:</label>
    <input type="text" name="option_4" required><br>
    <label>Correct Option:</label>
    <select name="correct_option" required>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
    </select><br>
    <label>Marks:</label>
    <input type="number" name="marks" required><br>
    <button type="submit">Add Question</button>
</form>

    
    <h3>Questions:</h3>
    {% for quiz in quizzes%}
    <h4>{{quiz.quiz_name}}</h4>
        <ul>
            {% for question in quiz.questions %}
                <li>
                    Question: {{ question.question_statement }} <a href="/delete_question/{{ question.question_id }}">Delete</a><br>
                    Option 1: {{ question.option_1 }}<br>
                    Option 2: {{ question.option_2 }}<br>
                    Option 3: {{ question.option_3 }}<br>
                    Option 4: {{ question.option_4 }}<br>
                    Correct Option:{{question.correct_option}}<br>
                    Marks: {{ question.marks }}
                </li>
                <br>
            {% endfor %}
        </ul>
        {% endfor %}
        
   
</body>
</html>
