<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
    <div class = "header">
        <a href="{{ url_for('user_detail', user_id=user_id) }}"><button>Home</button></a>
        <a href="{{ url_for('scores', user_id=user_id) }}"><button>Scores</button></a>
        <a href="{{ url_for('user_summary', user_id=user_id) }}"><button>Summary</button></a>
        <a href="{{ url_for('login') }}"><button>LogOut</button></a>



        <div class = "left-head">
            <form method="get" action="{{ url_for('user_summary', user_id=user_id) }}">
                <input type="search" name="query" placeholder="Search..." required>
                <button type="submit">Search</button>
            </form>
            <h4>{{user.full_name}}</h4>

        </div>

    </div>
    <div class="scores">
        <h3>Your Scores</h3>
        <table>
            <thead>
                <tr>
                    <th>Quiz Name</th>
                    <th>Chapter</th>
                    <th>Subject</th>
                    <th>Score</th>
                    <th>Total Marks</th>
                </tr>
            </thead>
            <tbody>
                {% for score in score_details %}
                    <tr>
                        <td>{{ score.quiz_name }}</td>
                        <td>{{ score.chapter_name }}</td>
                        <td>{{ score.subject_name }}</td>
                        <td>{{ score.score }}</td>
                        <td>{{ score.total_marks }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No scores available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>
