body {
    margin: 0; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2dfff; 
}
.frame {
    width: 90%;
    max-width: 450px; 
    height: 420px; 
    background-color: white;
    border: 3px solid #003062;
    border-radius: 20px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    box-sizing: border-box; 
    overflow: auto; 
}
h1{
    text-align: center;
    color: #003062;
    text-decoration:underline ;
}
h2{
    text-align: center;
    color: #B5C38E;
}
.text_input {
    padding: 6px;
    border: 2px solid #003062;
    border-radius: 8px;
    width: 150px;

}
.lable_1{
    display: inline-block;
    width: 100px; 
    margin-right: 10px;
    font-size: large;
}
.lable_2{
    display: inline-block;
    width: 100px;  
    margin-right: 10px;
    font-size: large;
}
.botton_type{
    height: 40px;
    width: 120px;
    border-radius: 4px;
    font-size: larger;
    background-color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.botton_type:hover{
    background-color: antiquewhite;
}
.botton_type:active{
    background-color: #002244; 
    transform: scale(0.98);
}
.container {
    display: flex;  
    align-items: center;
    gap: 20px; 
}
.new-user {
    font-size: 16px;
    color: #003062;
    
}